<form {{action 'createItem' on="submit"}}>
  <label>Name: </label>
  {{input value=item.name}}<br><br>
  <label>Description: </label>
  {{input value=item.description}}<br><br>
  {{input type="submit" value="Submit"}}
</form>

